
*{
    margin:0px;
    padding:0px;
    font-family: 'Domine', serif;
    font-family: 'Georama', sans-serif
}
.hidden{
    display:none !important;
}

@media(min-width:1500px){
   
   
    
    h1{
        line-height:800px;
        font-size: 100px;
        height: 55%;
        margin-bottom: 0px;
    }
    
    #out{
        position: fixed;
        bottom:30px;
        right: 30px;
        font-size: 50px;
        float:right;
    }
    #go{
        background: none;
        border: none;
        color: white;
        margin:10px 20px;
        font-size: 50px;
        line-height: 30px;
        padding-bottom: 40px;
    
      
    }
    input{
        margin:0px;
        border: none;
        border-radius: 10px;
        padding: 0px 20px;
        height: 70px;
        width: 300px;
        font-size: 20px;
        font-weight: bold;
    }
    input:focus{
        outline:none;
    }
    #Welcome-login{
        height: 100px;
        justify-content: center;
        display:flex;
    }
   
}

@media(max-width:1500px){
    
    h1{
        line-height:80vh;
        font-size: 4em;
        height: 55%;
        margin-bottom: 0px;
    }
    
    #out{
        position: fixed;
        bottom:30px;
        right: 30px;
        font-size: 50px;
        float:right;
    }
    #go{
        background: none;
        border: none;
        color: white;
        margin:10px 20px;
        font-size: 50px;
        line-height: 30px;
        padding-bottom: 40px;
    
      
    }
    input{
        margin:0px;
        border: none;
        border-radius: 10px;
        padding: 0px 20px;
        height: 70px;
        width: 300px;
        font-size: 20px;
        font-weight: bold;
    }
    input:focus{
        outline:none;
    }
    #Welcome-login{
        height: 100px;
        justify-content: center;
        display:flex;
    }
}
html,body{
    width: 100vw;
    height: 100vh;
    margin:0px;
    padding:0px;
    text-align: center;
    background-size: cover;
    background-color: #bac9ce;
    color: #6c6c6c;
}

#go:hover{
    color: #f3ac70;
}
#out:hover{
    color:linen;
}
#loginbtn:hover{
    color: #f3ac70;
}